numpy
openpyxl
pdf2image
pydantic
requests
fastapi[standard]
python-multipart
tika
llmonkey @ git+https://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@github.com/Trel725/LLMonkey.git
pypandoc
debugpy